input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.radix-ui-date-picker {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid rgb(80, 80, 80);
}
